@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

.fill {
  flex: 1 1 auto;
}

body {
  padding: 0;
  margin: 0;
}

.mat-toolbar {
  .mat-select, .mat-slide-toggle {
    font-size: 14px;
  }
  .mat-form-field, .mat-input-element {
    font-size: 18px;
  }
}

.mat-toolbar > .mat-divider-vertical + * {
  margin-right: 24px;
  margin-left: -1px;
}

.mat-toolbar > * + .mat-divider-vertical {
  margin-right: 16px;
}

.mat-toolbar > .mat-divider-vertical + * {
  margin-left: 24px;
}

.mat-toolbar > .mat-divider-vertical {
  margin-left: -1px;
}

