.small {
  font-size: 80%;
}

.super {

}


.super, .sub {
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.super {
  top: -0.5em;
}
.super.small {
  font-size: 70%;
}

.sub {
  bottom: -0.25em;
}
