<mat-toolbar>
  <mat-toolbar-row>
    <app-breadcrumb [label]="(datasetCom | async).label"
                    [children]="(datasetCom | async).children"
                    (change)="onChange($event)"
    ></app-breadcrumb>
  </mat-toolbar-row>
</mat-toolbar>
<h1>Edit ground truth</h1>
<div *ngFor="let d of (datasetCom | async).files" class="entry">
  <app-secured-image #lineImg [src]="resourceUrl(d)" [alt]="resourceUrl(d)" class="gt-line-img"></app-secured-image>
  <app-text-editor class="full-width" [path]="(datasetCom | async).label" [file]="basename(d)"></app-text-editor>
</div>
