::ng-deep .gt-line-img {
  height: 1.15rem;
  max-height: 1.15rem;
  max-width: 100%;
}

::ng-deep .full-width {
  width: 100%;
}

::ng-deep input.finished {
  color: limegreen;
}

mat-card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.container {
  height: calc(100vh - 18px);
}
