.gt-line-img {
  height: 1.5rem;
  max-width: 100%;
}

::ng-deep .full-width {
  width: 100%;
}

::ng-deep input.finished {
  color: limegreen;
}

.entry {
  display: flex;
  flex-direction: column;
  border-left: 2px solid black;
  margin: 1rem;
  padding-left: 1rem;
}
